<h1><%= @movie.title %></h1>

<h2>Description: </h2>
<p><%= @movie.description %></p>

<h2>Released:</h2>
<p><%=  @movie.year_released%></p>

<%= link_to "Edit", "/movies/edit/#{@movie.id}" %>
<%= link_to "Home", "/movies" %>
<%= link_to "Back", :back %>